// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$gray: #464444;
$green: #59ED9C;
$light-grey: #EBEBF2;
$purple: #76157B;
$light-purple: #b199cf;
$mauve: #D2C5E1;
