.appointment_date label {
  background-color: white;
  width: 310px;
  height: 44px;
  border-radius: 8px;
  box-shadow: 0px 4px 14px #ebebf2;
}

label {
  display: inline-flex;
  font-size: 16px;
  color: #76157B;
  font-weight: 500;
  text-align: center;
  align-items: center;
  /* justify-content: center; */
  /* margin-left: 15px; */
  /* left: 12px; */
  padding: 10px;
}

#appointment_doctor_id {
  background-color: white;
  width: 310px;
  height: 44px;
  border-radius: 8px;
  box-shadow: 0px 4px 14px #ebebf2;
}

.form-select {
  display: inline-flex;
  font-size: 16px;
  color: #76157B;
  font-weight: 500;
  text-align: center;
  align-items: center;
  /* justify-content: center; */
  /* margin-left: 15px; */
  /* left: 12px; */
  padding: 10px;
}
