/*Media Queries*/

/*Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .container-white {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }

  p {
    font-size: 12px;
  }
  .diary-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .container-white {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }
  p {
    font-size: 16px;
  }
  .diary-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1200px) {
  .container-white {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }
  p {
    font-size: 26px;
  }
  .diary-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
