/*Media Queries*/

/*Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .container-white {
    border-top-right-radius: 15%;
    border-top-left-radius: 15%;
    padding: 15px;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .container-white {
    border-top-right-radius: 15%;
    border-top-left-radius: 15%;
    padding: 15px;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1200px) {
  .container-white {
    border-top-right-radius: 30%;
    border-top-left-radius: 30%;
    padding: 15px;
  }
}
