.container-white {
  background-color: white;
  border-top-right-radius: 15%;
  border-top-left-radius: 15%;
  padding-bottom: 100px;
  height: 100%;
  min-height: 800px;
}

.header-title-purple {
  color: purple;
  padding: 4px;
  font-size: 26px;
  align-items: center;
  padding: 20px;
  i {
    color: purple;
    padding: 10px;
    font-size: 28px;
  }
}

.navbar-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100vw;
  padding: 10px;

  i {
    color: purple;
    padding: 2px;
    font-size: 28px;
  }

}

.day-of-prescription {
  display: flex;
  justify-content: center;
  align-items: center;

  color: purple;
  font-size: 24px;
  border-radius: 40px;
  width: 75vw;
  height: 8vh;
  font-family: 'Inter', sans-serif;
  padding-top: 6px;

  border: solid;
  border-width: medium;
  border-color: #D2C5E1;
  border-radius: 40px;
  background-color: #D2C5E1;
  filter: drop-shadow(0px 4px 4px #EBEBF2);
}
