.swal2-loader {
  .swal2-styled.swal2-confirm {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: brown;
    color: #fff;
    font-size: 1em;
  }




}

.swal2-actions .swal2-styled.swal2-deny {

  background-color: #FF848F;
}
