<h1>Prescriptions#new</h1>
<p>Find me in app/views/prescriptions/new.html.erb</p>

<%= simple_form_for @prescription do |f| %>
  <%= f.input :time %>
  <%= f.input :comment %>
  <%= f.button :submit %>
<% end %>
