<div class="navbar-icons">
  <%= link_to :back do %>
    <i class="fa-solid fa-chevron-left"></i>
  <% end %>

  <%= link_to prescriptions_path do %>
    <i class="fa-solid fa-calendar-days"></i>
  <% end %>
</div>



<div class="container-white">
  <div class="header-title-purple">
    <div class="left-title">
      <h2><i class="fa-solid fa-book-medical"></i> My Diaries</h2>
    </div>
  </div>
  <% @diaries.each do |diary| %>
    <% if diary.selfy && diary.selfy.photo.attached? %>
      <%= cl_image_tag diary&.selfy&.photo&.key  %>
    <% end %>
  <% end %>
</div>
