<div class="navbar-icons">
  <%= link_to :back do %>
    <i class="fa-solid fa-chevron-left"></i>
  <% end %>

  <%= link_to prescriptions_path do %>
    <i class="fa-solid fa-calendar-days"></i>
  <% end %>
</div>



<div class="container-white">
  <div class="header-title-purple">
    <div class="left-title">
      <h2><i class="fa-solid fa-book-medical"></i> My Diary</h2>
    </div>
  </div>

  <div class="day-of-prescription">
    <p><strong>22 February</strong> 2023</p>
  </div>

  <div class="card-pill">
    <div class="px-3 title-wrap w-100">
      <div class="circle">
        <i class="fa-solid fa-disease"></i>
      </div>

    <! -- la card du titre -->
      <div class="card-title">
        <h1>My Daily feeling</h1>
      </div>
    </div>

    <div class="content-wrap">
      <p> Today was rough... The doctors gave me some pills last night and I didn’t sleep well.
      I could however have a walk in the neighborhood between 3pm and 4pm. The sun here was great, spring is coming!</p>
    </div>

    <div class="action-wrap">

      <div class="action-circle-2">
        <%= link_to "#" do %>
          <i class="fa-solid fa-microphone"></i>
        <% end %>
      </div>

      <div class="action-circle-3">
        <%= link_to "#" do %>
          <i class="fa-solid fa-pencil"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <h3>How strong is your headache?</h3>
  <ul class="pain-scale">
    <li class="pain-scale__level pain-scale__level--1"><span class="pain-scale__number">1</span></li><li class="pain-scale__level pain-scale__level--2"><span class="pain-scale__number">2</span></li><li class="pain-scale__level pain-scale__level--3"><span class="pain-scale__number">3</span></li><li class="pain-scale__level pain-scale__level--4"><span class="pain-scale__number">4</span></li><li class="pain-scale__level pain-scale__level--5"><span class="pain-scale__number">5</span></li><li class="pain-scale__level pain-scale__level--6"><span class="pain-scale__number">6</span></li><li class="pain-scale__level pain-scale__level--7"><span class="pain-scale__number">7</span></li><li class="pain-scale__level pain-scale__level--8"><span class="pain-scale__number">8</span></li><li class="pain-scale__level pain-scale__level--9"><span class="pain-scale__number">9</span></li><li class="pain-scale__level pain-scale__level--10"><span class="pain-scale__number">10</span></li>
  </ul>
  <ul class="legend">
    <li class="legend__beginning">Mild</li>
    <li class="legend__end">Very severe</li>
  </ul>
</div>
