<div class="navbar-icons">
  <%= link_to :back do %>
    <i class="fa-solid fa-chevron-left"></i>
  <% end %>

  <%= link_to "#" do %>
    <i class="fa-solid fa-calendar-days"></i>
  <% end %>
</div>

<div class="container-white">
  <div class="header-title-purple">
    <div class="left-title">
      <i class="fa-solid fa-capsules"></i>
      <h2> My Pills</h2>
    </div>
  </div>

  <ul>
    <% @exercice_prescriptions.each do |exercice_prescription| %>
      <li><%= exercice_prescription.treatment.name %> : <%= exercice_prescription.comment %></li>
    <% end %>
  </ul>
</div>
