<div class="landing-page">
  <div class="landing-banner">
  </div>

  <div class="container-landing">
    <div class="logo-and-infos">
      <div class="landing-logo">
      </div>

      <div class="landing-title">
        <h3 style="color: #464444;">Your recovery <br>all under control</h3>
      </div>

      <div class="landing-text">
        <p>We take care of your recovery organization.</p>
        <p>Add your prescriptions (pills, treatments, exercices) and your appointments, we take care of the rest.</p>
        <p>Not feeling good, have a look to your daily boost !</p>
      </div>
    </div>

    <% if current_user == nil %>
      <div class="sign-log">
        <div class="purple-button-log-in">
          <%= link_to new_user_session_path, class: "text-decoration-none landing-link" do %>
            <h4>Log in</h4>
          <% end %>
        </div>

        <%= link_to new_user_registration_path, class: "text-decoration-none landing-link link-sign"  do %>
          <h4 style="color: #464444; font-weight: bold;" >Register</h4>
        <% end %>
      </div>
    <% else %>

    <div class="purple-button pt-2">
      <%= link_to "Go !", :home %>
    </div>

    <div class="purple-button">
      <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} %>
    </div>

    <% end %>
  </div>
</div>
