<div class="landing-page">
    <div class="landing-banner">
    </div>

    <div class="container-landing">
    <div class="logo-and-infos">
      <div class="landing-logo">

      </div>
      <div class="landing-title">
        <h3>Your recovery <br>all under control</h3>
      </div>
      <div class="landing-text">
        <p>We take care of your recovery organization. Add your prescriptions (pills, treatments, exercices) and your appointments (nurse, surgeon, doctor). We take care of the rest. Not feeling good, have a look to your daily boost !</p>
      </div>
    </div>
    <div class="sign-log">
      <div class="landing-log">
        <%= link_to new_user_session_path, class: "text-decoration-none" do %>
          <h3 style="color: purple;">Log in</h3>
        <% end %>
      </div>
      <div class="landing-register" >
        <%= link_to new_user_registration_path, class: "text-decoration-none"  do %>
          <h3 style="color: black;">Register</h3>
        <% end %>
      </div>
    </div>
  </div>
</div>
