 <! -- 3 -- CIRCLE ADD/NEW -->

 <! -- Cercle d'action  : add/new -->

<div class="circle-add-new">
  <%#= link_to #, data: {turbo_method: :add} do %>
  <p><i class="fa-solid fa-plus"></i></p>
  <%# end %>
</div>
