
 <! -- 2 -- REMINDER NEXT 2 PRESCRIPTIONS CARD -->
<div class="card-reminder">

  <div class="flex-prescription-title-icon">
    <%= image_tag("pills-icon.svg", width: 38) %>
    <h1> Pills </h1>
  </div>

  <div class="content-wrap-reminder">
        <h4>My next pills</h4>

        <div class="content-wrap-hour-prescription">
        <p>10:00 AM </p>
        <p>Keppra </p>
        <p>1 x 200mg </p>
        </div>

        <div class="content-wrap-hour-prescription">
        <p>10:00 AM </p>
        <p>Keppra </p>
        <p>1 x 200mg </p>
        </div>
  </div>
</div>

