 <! -- 1 -- PRESCRIPTION CARD -->

    <div class="card-pill">
        <div class="title-wrap">

          <div class="circle">
            <p class="time">11:00 <span class="time-small">AM</span> </p>
          </div>

          <div class="card-title">
            <h1>Keppra</h1>
          </div>

      </div>

      <div class="content-wrap">
        <h2>Comment</h2>
        <p>1 x 200mg </p>
        <p>Helps to fight epilepsia </p>
      </div>

      <div class="action-wrap">

        <div class="action-circle-1">
          <i class="fa-solid fa-xmark"></i>
        </div>


        <div class="action-circle-2">
          <i class="fa-solid fa-pencil"></i>
        </div>

        <div class="action-circle-3">
          <i class="fa-solid fa-check"></i>
        </div>

      </div>

    </div>


 <! -- 2 -- REMINDER NEXT 2 PRESCRIPTIONS CARD -->
<div class="card-reminder">

  <div class="flex-prescription-title-icon">
    <%= image_tag("pills-icon.svg", width: 38) %>
    <h1> Pills </h1>
  </div>

  <div class="content-wrap-reminder">
        <h4>My next pills</h4>

        <div class="content-wrap-hour-prescription">
        <p>10:00 AM </p>
        <p>Keppra </p>
        <p>1 x 200mg </p>
        </div>

        <div class="content-wrap-hour-prescription">
        <p>10:00 AM </p>
        <p>Keppra </p>
        <p>1 x 200mg </p>
        </div>
  </div>
</div>
