.selfy-button {
  background-color: #EBEBF2;
  border-radius: 40px;
  width: 50%;
  height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
  img {
    object-fit: cover;
    width: 100%;
    border-radius: 40px;
    overflow: hidden;
  }

  i {
    font-size: 40px;
  }

  h1 {
    text-align: center;
    font-size: 26px;
    color: purple;
  }

  h2 {
    text-align: center;
    font-size: 16px;
    color: purple;
    padding-top: 5px;
  }
}

.selfies-row {
  display: flex;
  justify-content: space-between;
}


.rating {
  display: flex;
  width: 100%;
  justify-content: left;
  overflow: hidden;
  flex-direction: row-reverse;
  // height: 150px;
  position: relative;
}

.rating-0 {
  filter: grayscale(100%);
}

.rating > input {
  display: none;
}

.rating > label {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-top: auto;
  background-image: image-url('star-light-purple.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  transition: .3s;
}

.rating > input:checked ~ label,
.rating > input:checked ~ label ~ label {
  background-image: image-url('star-dark-purple.svg');
}


.rating > input:not(:checked) ~ label:hover,
.rating > input:not(:checked) ~ label:hover ~ label {
  background-image: image-url('star-dark-purple.svg');
}


.purple-button {
  width: 50%;
  max-width: 200px;
  height: 60px;
  border-radius: 15px;
  border: none;
  margin-inline: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: purple;
  color: white;
  margin-top: 50px;
  color: white;
  border: none;
  &:hover{
    opacity: 0.7;
  }

  h4 {
    color: white;
  }

 .btn {
    color: white;
 }

 a {
    color: white;
 }
}




.rating-pain-scale {
  display: flex;
  width: 100%;
  justify-content: left;
  overflow: hidden;
  flex-direction: row-reverse;
  // height: 150px;
  position: relative;
}

.rating-pain-scale-0 {
  filter: grayscale(100%);
}

.rating-pain-scale > input {
  display: none;
}

.rating-pain-scale > label {
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-top: auto;
  background-image: image-url('pain-scale-light.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: .3s;
}

.rating-pain-scale > input:checked ~ label,
.rating-pain-scale > input:checked ~ label ~ label {
  background-image: image-url('pain-scale-dark.svg');
  background-size: contain;
}


.rating-pain-scale > input:not(:checked) ~ label:hover,
.rating-pain-scale > input:not(:checked) ~ label:hover ~ label {
  background-image: image-url('pain-scale-dark.svg');
  background-size: contain;
}

.daily-feeling-comment {
  width: 100%;
  border: none;
  height: 60px;
}

input {
  border: 2px solid #eee
}
