.container-form{
  background: white;
  padding: 20px;
  margin-inline: 20vw;

  i{
    position: absolute;
    right: 16px;
    top: 15px;
    color: purple;
    z-index: 100;
  }

}.fontawesome-arrow{
  position: relative;
}

.string.required.prescription_start_date.text-primary{
  margin-top: 10vh;

}


.was-validated .form-select:valid:not([multiple]):not([size]), .was-validated .form-select[size="1"]:valid:not([multiple]), .form-select.is-valid:not([multiple]):not([size]), .form-select.is-valid[size="1"]:not([multiple]) {
  background-image: none !important;
}

.was-validated .form-check-input:valid, .form-check-input.is-valid, .was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label, .form-control.is-valid {
  border-color: purple;
  color: purple;
}

.was-validated .form-select:valid, .form-select.is-valid {
  border-color: purple;
}

.was-validated .form-check-input:valid, .form-check-input.is-valid, .was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label {
  border-color: purple;
}

@media (min-width: 100px) and (max-width: 575px) {
  .container-form {
    margin-inline: 0;
  }
}

.card-form{
  filter: drop-shadow(0px 4px 4px #EBEBF2);
  background: white;
  color: purple;
}

.legend-form{
  font-weight: bold;
  border: solid 1px purple;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);

}

.hours-and-minutes{
  display: flex;
  gap: 20px;
  justify-content: center;
}

// CSS for Pills / Cares / Exercises
.category-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category-item {
  flex: 0 0 30%;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  padding-block: 15px;
  border: 1px solid #cfcfcf;
  border-radius: 8px;
  background-color: white;
}

.category-selector:checked + label {
  color: white !important;
  background: purple;
}

// CSS pour le nom du traitement (paracétamol, méditation, ...)
.category-wrapper-treatment {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  align-items: center;
  //ou
  // display: flex;
  // flex-wrap: wrap;
}

.category-item-treatment {
  flex: 0 0 30%;
  height: 100%;
}

.category-selector-treatment {
  position: absolute;
  transform: scale(0);
}

.category-selector-treatment + label {
  // display: block;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  padding-block: 10px;
  padding-inline: 5px;
  border: 1px solid #cfcfcf;
  border-radius: 30px;
  background-color: white;
}

.category-selector-treatment:checked + label {
  color: white !important;
  background: purple;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 5px;
}


// Ci-dessous: change la couleur autour des dates sélectionnées
span.flatpickr-day.selected.startRange,
span.flatpickr-day.selected.endRange,
span.flatpickr-day.selected,
.flatpickr-day.endRange{
  background: purple;
  border-color: purple;
}

.flatpickr-day.inRange{
  background: #D7CDE3;
  border-color: #D7CDE3;
}

span.flatpickr-day.today.inRange{
  background: #D7CDE3;
  border-color: #D7CDE3;
}

// Permet de centrer le calendrier:
.string.required.prescription_start_date.text-primary,
.string.required.appointment_date.text-primary{
  display: flex;
  justify-content: center;
}

// .flatpickr-day.startRange:focus,
.flatpickr-day.selected:hover{
  background: purple;
  border-color: purple;
}
