.form-select.select.w-100.dropdown-item{
  margin-bottom: 8vh;
  padding-left: 2vw;
}

.appointment-comment{
  margin-top: 8vh;
}

.form-label.text.optional{
  margin-top: 8vh;
}

// Le wrapper autour du commentaire du formulaire appointment
.mb-3.text.optional.appointment_comment.text-primary,
.mb-3.text.optional.prescription_comment.text-primary{
  margin-top: 10vh;
}
// La petite flèche est dans _form-prescription.scss
