.card-bg-white-rounded {
  border-radius: 40px;
  background-color: #ffffff;
  height: 300px;
}

.card-reminder {
  margin: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 40px;
  background-color: #ffffff;
  filter: drop-shadow(0px 4px 4px #D7CDE3);
  height: 200px;
  padding: 44px 20px;
}

.flex-prescription-title-icon {
  // margin: 15px;
  display: flex;
  justify-content: flex-start;
  gap: 10px 20px;
  row-gap: 10px;
  column-gap: 20px;

  h1 {
    font-size: 26px !important;
    font-family: 'Inter', sans-serif;
    color: #76157B;
  }

  h4 {
    font-size: 16px !important;
    margin-top: 15 !important;
    color: #464444 !important;
    font-family: 'Inter', sans-serif !important;
    font-weight: 600 !important;
    }
}

.flex-prescription-title-icon h1 {
  size: 26px !important;
}

.content-wrap-hour-prescription {
  // margin: 15px;
  display: flex;
  gap: 10px;
  gap: 10px 20px;
  row-gap: 10px;
  column-gap: 20px;
}
