// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "flatpickr/dist/flatpickr";
@import "flatpickr/dist/themes/airbnb";
@import "simple_calendar";

// Your CSS partials
@import "components/index";
@import "pages/index";

a {
  text-decoration: none;
}


body {
background-color: #D2C5E1;
}

/*
 *= require_self
 *= require sweetalert
 *= require_tree .
 */


 /*
 *= require sweetalert2
 */
