<div class="navbar-icons">
  <%= link_to :home do %>
    <i class="fa-solid fa-chevron-left"></i>
  <% end %>

  <%= link_to prescriptions_path do %>
    <i class="fa-solid fa-calendar-days"></i>
  <% end %>
</div>

<div class="container-white">
  <div class="d-flex justify-content-between align-items-center">
    <div class="header-title-purple">
      <div class="left-title">
        <h2><%= image_tag("appointments-icon.svg", width: 30) %></i>Edit Appointment</h2>
      </div>
    </div>
  </div>

<!-- simple form for new -->

    <%= render partial: "form_appointment", locals: {appointment: @appointment} %>

</div>
